/*
// COLOUR PALLET
//
// #494949 - Davys Gray
// #FF4F00 - International Orange
// #7C7A7A - Sonic Silver
// #F0EDEE - Cultured
// #90DDF0 - Middle Blue
//
*/

:root {
    --colour1:#716A57; /*Shadow*/
    --colour2:#DFB632; /*Gold Metallic*/
    --colour3:#7B8291; /*Roman Silver*/
    --colour4:#71652B; /*Antique Bronze*/
    --colour5:#302c29; /*Jet*/

}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: url('PXL_20211221_065422347.jpg');
    background-color:var(--colour1);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

header{
    background-color:gray ;
}


.nav-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 1;
}
.nav-list a{
    padding: 0.25em 0.5em;
}

/* Move Active Page */
.home .nav-home {
    background-color: white;
    /* order:-1; */
    /* margin-left:auto; */
}

.about .nav-about {
    background-color: white;
    /* order:-1; */
    /* margin-left:auto; */
}

.showcase .nav-showcase {
    background-color: white;
    /* order:-1; */
    /* margin-left:auto; */
}

.blog .nav-blog {
    background-color: white;
    /* order:-1; */
    /* margin-left:auto; */
}

.contact .nav-contact {
    background-color: white;
    /* order:-1; */
    /* margin-left:auto; */
}

@media only screen and (min-width:1024px) {
    .nav-list a{
        text-decoration: none;
        font-size: 2em;
        border: 1px solid black;
        background-color: var(--colour2);
        padding:0.25em 1em;
        text-decoration: none;
        color: #141711;
        flex:1;
    }
}



