$colour1:#141711;

html {
    scroll-padding-top: 355px; /* height of sticky header */
  }

body{
    background-color:$colour1;
    color:white;
    margin-top: 0px;
    width: 1000px;
    margin: auto;
}

.header-main{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    margin: auto;
    text-align: center;
    background-color:#856A5D;
    margin-bottom: 0px;
}

.nav-menu{
    padding-top: 20px;
    display: flex;
    justify-content: stretch;
    background-color:$colour1;
}

.nav-item{
    border{
        style: solid;
        color: $colour1
    }
    margin: 0px;
    background-color:#6C6F7D;
    flex-grow: 1;
}

.title{
    padding-top: 200px;
}

main{
    margin-top: 0px;
}
.main-items{
    display: flex;
    background-color:#42444C;
    justify-content: center;
    flex-wrap: wrap;

}

.about-me{
    flex: 100%;
    padding: 50px;
}
.showcase{
    margin: 10px;
    color:black;
    background-color: #EBCFB2;
    width: 400px;
    height: 400px;
}

.contact{
    flex:100%;
    padding:50px;
}
footer{
    text-align: center;
    background-color:#856A5D;
}


@media (max-width: 1000px){
    body{
        width: 80%;
    }
}