html {
    scroll-padding-top: 450px; /* height of sticky header */
  }

body{
    background-color:#141711;
    color:white;
    margin-top: 0px;
    width: 1200px;
    margin: auto;
}




/*HEADER STYLES*/

.header-main{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    margin: auto;
    text-align: center;
    background-color:#856A5D;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

/*Navigation Menu*/

.nav-menu{
    padding-top: 20px;
    display: flex;
    justify-content: stretch;
    background-color:#141711;
    border-color: #141711;
}

.nav-item{
    margin: 0px;
    background-color:#6C6F7D;
    flex-grow: 1;
    border-radius: 10px 10px 0px 0px;
    
}

.nav-item a{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #141711;
    
}

.nav-item:hover{
    background-color: #856A5D;
}

/*Title Box*/

.title{
    padding-top: 10vh;
    font-size: 5vw
}

.title h1{
    margin: 0;
}







main{
    border-radius: 10px;
}

.main-items{
    border-radius: 10px;
    display: flex;
    background-color:#42444C;
    justify-content: center;
    flex-wrap: wrap;

}

.about-me{
    flex: 100%;
    padding: 50px;
}

.showcase-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showcase{
    margin: 10px;
    color:black;
    background-color: #EBCFB2;
    width: 400px;
    height: 400px;
}

.contact{
    flex:100%;
    padding:50px;
}

footer{
    position: sticky;
    bottom: 0px;
    text-align: center;
    background-color:#856A5D;
}






@media (max-width: 1300px){
    body{
        width: 80%;
    }
    .title{
        padding-top: 20vh;
    }
}