.container {
    display: grid;
    gap: 0px 0px;
    border-style: solid;
    width: 90vw;
    height: 90vh;
    margin: auto;
  }

.landing .content{
    
}
.content { 
    grid-area: 2 / 2 / 3 / 3;
}

.nav-home { 
    grid-area: 1 / 1 / 2 / 2; 
}

.nav-about { 
    grid-area: 1 / 3 / 2 / 4; 
}

.nav-showcase { 
    grid-area: 3 / 1 / 4 / 2; 
}

.nav-blog { 
    grid-area: 3 / 3 / 4 / 4; 
}

.nav-item {
    border:1px solid black;
    background-color: grey;
}

.nav-item a{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #141711;
    
}

.nav-item:hover{
    background-color: #42444C ;
}