@use "sass:color";

$colour-black:#121212;
$colour-dark-2:rgb(8, 8, 8);
$colour-white:#CCCDD4;    //Ghost
$colour-accent:#00982e;


@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Hairline&family=Oxanium:wght@200&display=swap');
$font-menu:'Audiowide', cursive;
$font-title:'Bungee Hairline', cursive;
$sans-serif:'Oxanium', sans-serif;
$serif:'Oxanium', serif;
$cursive:'Oxanium', 'Anton', cursive;

body {
    min-height: 100vh;
    display: grid;
    grid-template:
                "header header header header header" 10vh
                "left-margin main centre-margin navbar right-margin" 1fr
                "footer footer footer footer footer" 10vh / 5vw 2fr 5vw 1fr 5vw;
    section{
        height: fit-content;
    }
    h1 {
        font-size: 1.5em;
    }
    .post {
        font-size: 0.8em;
    }
    p {
        padding-bottom: 1em;
    }
    a {
        color: $colour-white;
    }
    .post-info {
        font-size: 0.8em;
    }
    .align-left {
        float: left;
    }
    .align-right {
        float: right;
    }

}
.sidebar {
    height: 100%;
    width: 100%;
    grid-area:navbar;
    font-family: $serif;
    
    a {
        color: $colour-white;
        font-family: $serif;
    }
    
    li {
        list-style: none;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
    }
    .image {
        padding-top: 100%;
        background-color: red;
        background-image: url(/img/climging-1.jpg);
        background-size: cover;
    }
    nav {
        position: sticky;
        top:10vh;
    }
    h3 {
        padding-top: 1em;
        text-align: center;
        color: $colour-white;
    }

}