@use "sass:color";

$colour-black:#121212;
$colour-dark-2:rgb(8, 8, 8);
$colour-white:#CCCDD4;    //Ghost
$colour-accent:#00982e;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Hairline&family=Oxanium:wght@200&display=swap');
$font-menu:'Audiowide', cursive;
$font-title:'Bungee Hairline', cursive;
$sans-serif:'Oxanium', sans-serif;
$serif:'Oxanium', serif;
$cursive:'Oxanium', 'Anton', cursive;



@mixin depth-1 {
    background-color: scale-color($colour-black,$lightness:5%);;
    box-shadow: 0 0 5px black;
    position: relative;
    z-index: 1;
}

@mixin depth-2 {
    background-color: scale-color($colour-black,$lightness:7%);;
    box-shadow: 0 0 5px black;
    position: relative;
    z-index: 2;
}