.flip-card {
    perspective: 800px;
    // z-index: -1;

    .flip-body {

        transform-style: preserve-3d;
        display:grid;
        grid-template-areas: "overlap";
        transition:1s all ease-in-out;

        .flip-front, .flip-back{
            grid-area: overlap;
            backface-visibility: hidden;
        }
        .flip-front{
            background-color: red;
        }
        .flip-back{
            background-color: blue;
            transform:rotateY(180deg);
        }
    }
}
.flip-card:hover .flip-body {
    transform: rotateY(180deg);
  }
  