$time: 0.5s;

.flip {
    display: flex;
    transition: z-index;
    transition-delay: $time;
    z-index: 0;
    perspective: 40rem; 

    &:hover {
        transition-delay: 0s;
        z-index: 1s;
    }

    &:active{
        transform: scale(0.975);
    }
}

.flip-inner {
    display: flex;
    transform-style: preserve-3d;
    transition: $time transform;;
}

.flip-front, .flip-back {
    backface-visibility: hidden;
    min-width: 100%;
}

}
  .flip-front {

}
  .flip-back {
    transform: rotateY(-180deg) translate(-100%,0);
}