$colour-dark-1:#28231A;     //Zeus
$colour-dark-2:#4E3D23;     //roko
$colour-mid-1:#8A7F62;      //Clay Creek
$colour-light-1:#CCCDD4;    //Ghost

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url("https://use.typekit.net/qdq3ntt.css");
$sans-serif:'Anton', sans-serif;
$serif:'Cinzel', serif;
$cursive:'Comfortaa', 'Anton', cursive;





/////////////////////////////
//         STYLING         //
/////////////////////////////


/* Content */

body {
    background-color: $colour-dark-1;
    background-image: url("/img/drz-night.jpg");
    background-size: cover;
    background-attachment: fixed;
    main {

        h1{
            font-family: teeshirt,sans-serif;
            color: $colour-light-1;
            font-weight: 200;
        }

        h2{
            color: $colour-light-1;
            font-family: $sans-serif;
            font-weight: 100;
        }

        section{
            color: $colour-light-1;
            font-family: $serif;
        }
    }
}

img {
    border-radius: 20px;
}




.page {
    background-color: $colour-dark-2;
}
.nav-menu{
    a{
        font-family: $sans-serif;
        color: $colour-light-1;
        text-decoration: none;
    }

    a:hover{
        color: $colour-mid-1;
    }
}

.hero {
    background-color: $colour-mid-1;
}

footer.page {
    background-color: $colour-dark-2;

    .copyright{
        display: none;
        svg{
            width: 1em;
            height: 1em;
            fill:black;
        }
    }
}

.contact-links {

    a {
        svg {
            fill: $colour-light-1;
        }
    }

    a:hover {

        svg {
            fill: $colour-mid-1;
        }
    }
}

