$colour-dark-1:#28231A;     //Zeus
$colour-dark-2:#4E3D23;     //roko
$colour-mid-1:#8A7F62;      //Clay Creek
$colour-light-1:#CCCDD4;    //Ghost

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url("https://use.typekit.net/qdq3ntt.css");
$sans-serif:'Anton', sans-serif;
$serif:'Cinzel', serif;
$cursive:'Comfortaa', 'Anton', cursive;

/* Reset margin and padding for all elements to 0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    //height: 100vh;
    background-color: $colour-dark-1;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
}

/*common attributes for page header and footer */
.page{
    height:fit-content;
    padding: 1em 0em;
    background-color: $colour-dark-2;
}


 /* Header */
header.page{
    position: sticky;
    top: 0;
     /*set sticky position*/

    .nav-menu{
        display: flex;
        justify-content: space-around;

        a{
            font-family: $sans-serif;
            color: $colour-light-1;
            text-decoration: none;
        }

        a:hover{
            color: $colour-mid-1;
        }
    }


}



/* Content */

main {

    display: flex;
    flex-direction: column;
    flex-basis: content;
    align-items: center;

    .hero{
        background-color: $colour-mid-1;
        width: 100vw;

    }

    h1{
        margin: auto;
        padding: 0.5em 0;
        font-family: teeshirt,sans-serif;
        color: $colour-light-1;
        font-weight: 200;
    }

    h2{
        padding-left: 20vw;
        padding-top: 1em;
        color: $colour-light-1;
        font-family: $sans-serif;
        font-weight: 100;
    }

    section{
        padding: 2em;
        color: $colour-light-1;
        font-family: $serif;
    }
}
  
img {
    width: 80vw;
    border-radius: 20px;
}

/* Footer */

footer.page {
     /*set sticky position*/
    position: sticky;
    bottom: 0;
    padding:2em 0;
    background-color: $colour-dark-2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .copyright{
        margin-top: 1em;
        display: flex;
        align-items: center;
        svg{
            width: 1em;
            height: 1em;
            fill:black;
        }
    }
}


.contact-links {
    flex:0 0 100%;
    display: flex;
    justify-content: space-around;
    height: 5vh;

    a {
        width:5vh;

        svg {
            fill: $colour-light-1;
        }
    }

    a:hover {

        svg {
            fill: $colour-mid-1;
        }
    }
}

/* Page Specific */

.contact{

    /*Disable Social Bar */
    footer.page{
        .contact-links{
            display: none;
        }
    }

    /*formatting social links in content area*/
    article.contact-links{
        flex-direction: column;
        section{
            display: flex;
            align-items: center;
        }
        svg{
            width: 20vw;
        }
        a{
            width: fit-content;
            text-decoration: none;
            color: $colour-light-1;
        }
        h2{
            padding-left: 2em;
            font-family: sans-serif;
            text-transform: uppercase;
        }
    }
}