@use "sass:color";

$colour-black:#121212;
$colour-dark-2:rgb(8, 8, 8);
$colour-mid-1:#8A7F62;      //Clay Creek
$colour-white:#CCCDD4;    //Ghost
$colour-accent:#00982e;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url("https://use.typekit.net/qdq3ntt.css");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Hairline&family=Oxanium:wght@200&display=swap');
$font-menu:'Audiowide', cursive;
$font-title:'Bungee Hairline', cursive;
$sans-serif:'Oxanium', sans-serif;
$serif:'Oxanium', serif;
$cursive:'Oxanium', 'Anton', cursive;



@mixin depth-1 {
    background-color: scale-color($colour-black,$lightness:5%);;
    box-shadow: 0 0 5px black;
    position: relative;
    z-index: 1;
}

@mixin depth-2 {
    background-color: scale-color($colour-black,$lightness:7%);;
    box-shadow: 0 0 5px black;
    position: relative;
    z-index: 2;
}


/////////////////////////////
//         STYLING         //
/////////////////////////////


/* Content */

body {
    background-color: $colour-black;

    main {

        h1{
            font-family: $font-title;
            color: $colour-white;
            font-size: auto;
            // font-weight: 200;
            padding-bottom: 0;
        }

        h2{
            color: $colour-white;
            font-family: $sans-serif;
            font-size: auto;
            font-weight: 400;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        h3 {
            font-family: $sans-serif;
            font-weight: 100;
            padding-left: 1em;
            text-decoration: underline;
        }

        section, article{
            color: $colour-white;
            font-family: $serif;
        }
    }

    .accent {
        color:$colour-accent;
        text-decoration: underline;
    }
}


.page {
    background-color: $colour-dark-2;
}

.nav-menu{
    a{
        font-family: $font-menu;
        color: $colour-white;
        text-decoration: none;
        font-size: 3vw;
    }

    a:hover{
        color: $colour-accent;
    }
}

.hero {
    @include depth-2
}

footer.page {
    background-color: $colour-dark-2;

    .copyright{
        display: none;
        svg{
            width: 1em;
            height: 1em;
            fill:white;
        }
    }
}

.contact-links {

    a {
        svg {
            fill: $colour-white;
        }
    }

    a:hover {

        svg {
            fill: $colour-mid-1;
        }
    }
}

.card {
    margin: 1em 0;
    //border: white;
    //border-style: groove;
    background-color: $colour-black;
    p {
        padding: 1em;
    }
}

.headshot {
    img{
        display: block;
        margin: auto;
        margin-top: 1em;
        object-fit: cover;
        height: 60vmin;
        width:  60vmin;
        border-radius: 50%;
    }
}

hr {
    border-color: $colour-accent;
    margin:0.5em;
}

//depth 1
.dp1 {
    @include depth-1;
}
// depth 2
.dp2 {
    @include depth-2
}